<head>
	<title> Senodia Technologies | 深迪半导体 | 技术概述 </title>
	<meta name="description" content="MEMS传感器 - ASIC电路 - Sensor Hub">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="index.css">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>


<div style="background-image: url(<%= asset_path('app/vitmother.png')%>); background-position: center; background-size: cover; width: 100%; min-width: 100vw; height: 400px; text-align: center;">
	<% if I18n.locale == :en %>
	<h2 class="centered3">Technology overview</h2>
	<% else %>
 	<h2 class="centered3">技术概述</h2>
 	<% end %>
</div>

	<!-- Two Column Product Section  x3 -->
	<% if I18n.locale == :en %>
	<div class="padding">
		<div class="container" style="width: 90vw;">
			<div class="row" style="margin-top: 3rem;">
				<div class="col-sm-12 text-left">
					<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter;">MEMS</h2>
					<p class="pgp" style="color: rgba(0,0,0,80%);">Micro-Electo-Mechanical Systems, or MEMS, is a technology that in its most general form can be defined as miniaturized mechanical and electro-mechanical elements (i.e., devices and structures) that are made using the techniques of microfabrication. The critical physical dimensions of MEMS devices can vary from well below one micron on the lower end of the dimensional spectrum, all the way to several millimeters. Likewise, the types of MEMS devices can vary from relatively simple structures having no moving elements, to extremely complex electromechanical systems with multiple moving elements under the control of integrated microelectronics. The one main criterion of MEMS is that there are at least some elements having some sort of mechanical functionality whether or not these elements can move.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-left">
					<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter;">ASIC</h2>
					<p class="pgp" style="color: rgba(0,0,0,80%);">An application-specific integrated circuit (ASIC) is a kind of integrated circuit that is specially built for a specific application or purpose. Compared to a programmable logic device or a standard logic integrated circuit, an ASIC can improve speed because it is specifically designed to do one thing and it does this one thing well. It can also be made smaller and use less electricity. The disadvantage of this circuit is that it can be more expensive to design and manufacture, particularly if only a few units are needed.

					An ASIC can be found in almost any electronic device and its uses can range from custom rendering of images to sound conversion. Because ASICs are all custom-made and thus only available to the company that designed them, they are considered to be proprietary technology.</p>
				</div>
			</div>
			<div class="row" style="margin-bottom: 3rem;">
				<div class="col-sm-12 text-left">
					<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter;">sensor hub</h2>
					<p class="pgp" style="color: rgba(0,0,0,80%);">Sensor Hub is a microcontroller unit/coprocessor/DSP that helps to integrate data from different sensors and process them. With the increase of smart phone, wearable device and sensor integrated by sensing terminal of internet of things, and applications require sensors to be "Always On", which makes low-power Sensor Hub more and more important. This technology can help off-load these jobs from a product's main central processing unit, thus saving battery consumption and providing a performance improvement.</p>
				</div>
			</div>
		</div>
	</div>
	<% else %>
	<div class="padding">
		<div class="container" style="width: 90vw;">
			<div class="row" style="margin-top: 3rem;">
				<div class="col-sm-12 text-left">
					<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter;">MEMS传感器</h2>
					<p class="pgp" style="color: rgba(0,0,0,80%);">MEMS制造工艺是下至纳米尺度，上至毫米尺度微结构加工工艺的通称。广义上的MEMS制造工艺，方式十分丰富，几乎涉及了各种现代加工技术。起源于半导体和微电子工艺，以光刻、外延、薄膜淀积、氧化、扩散、注入、溅射、蒸镀、刻蚀、划片和封装等为基本工艺步骤来制造复杂三维形体的微加工技术。</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-left">
					<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter;">ASIC电路</h2>
					<p class="pgp" style="color: rgba(0,0,0,80%);">ASIC是Application Specific Integrated Circuit的英文缩写，在集成电路界被认为是一种为专门目的而设计的集成电路。是指应特定用户要求和特定电子系统的需要而设计、制造的集成电路。ASIC的特点是面向特定用户的需求，ASIC在批量生产时与通用集成电路相比具有体积更小、功耗更低、可靠性提高、性能提高、保密性增强、成本降低等优点。</p>
				</div>
			</div>
			<div class="row" style="margin-bottom: 3rem;">
				<div class="col-sm-12 text-left">
					<h2 class="pgti2" style="color: #E2001A!important; text-transform: uppercase; font-weight: lighter;">sensor hub</h2>
					<p class="pgp"style="color: rgba(0,0,0,80%);">Sensor Hub 是一个能够帮助获取、整合与处理来自不同传感器数据的微控制器芯片或IP核。由于智能手机、可穿戴设备、物联网感知终端等集成的传感器越来越多，而应用大都要求传感器能具备“一直在线”（Always On）的状态，这使得可以达到低功耗要求的Sensor Hub 越来越重要。因为通过将多个传感器整合到同一个Sensor Hub上，由该 Hub统一负责管理所有的传感器，将所有数据整合及预处理后再交由主处理器CPU进行运算，可以减轻主处理器的负荷，达到提升总体效能、降低功耗及延长电池使用时间的效果。</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</body>