/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: "Source Han Sans", sans-serif;*/
  font-family: 'Noto Sans', sans-serif;
} 
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.prolink:hover {
  text-decoration:none;
}

.apptitle {
  color: rgba(0, 0, 0, 0.8)!important;
  font-weight:lighter;
}

.nav-item {
  color: rgba(0, 0, 0, 0.8)!important;
  padding: 0rem .7rem 0rem .7rem!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    /*color: #153B63!important;*/
    color:#3B4637!important;
    /*border-bottom: 3px solid #153B63;*/
    border-bottom: 3px solid #3B4637;
}

.fit-image{
width: 100%;
object-fit: cover;
min-height: 600px; /* only if you want fixed height */
max-height: 1000px;
}


/*.site-content-landing {
  background-image: url(app/white.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;

  height: 600px;
}*/

#site-content-app {
  background-image: url(app/vr.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  /*min-height: 400px;  only if you want fixed height */
  height: 400px;
}
.site-content-tech {
  background-image: url(app/vitmother.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height: 450px;
}
.site-title-tech {
  width: 100%;
}


.site-content-news {
  background-image: url(images/app/vr.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.site-content-about {
  background-image: url(app/fab.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height: 450px;
}

/*.site-content-pro {
  background-image: url(images/products/productlist.png);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  height: 400px;
}*/
.site-title {
  color: #E2001A!important;
  width: 40%;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 5rem;
  padding-left: 5rem;
  font-weight: lighter;

}

.site-desc {
  color: rgba(0, 0, 0, 80%);
  width: 40%;
  font-size: 18px;
  padding-left: 5rem;
}

/* */
.prods h3 {
padding-top: 1rem;
font-weight: lighter;
font-size: 40px;
text-transform: uppercase;
color: #E2001A!important;
text-decoration: none!important;

}
.prods p {
  color: rgba(0, 0, 0, 80%);
  font-size: 18px;
  text-decoration: none!important;

}
.prods h3:hover {
  padding-top: 1rem;
  font-weight: lighter;
  font-size: 40px;
  text-transform: uppercase;
  color: #E2001A!important;
  text-decoration: none!important;
  border-bottom-style: none!important;

}
.prods p:hover {
  color: rgba(0, 0, 0, 80%);
  font-size: 18px;
  text-decoration: none!important;
  border-bottom-style: none!important;
}

.info-box {
  /*height: 100px;*/
  background-color:rgba(227, 61, 50, 80%);
  color: #FFF;
  border-radius: 4px;
  padding:2rem;
    /*margin:5rem;*/

}
.info-box2 {
  /*height: 100px;*/
  /*background-color:rgba(227, 61, 50, 80%);*/
  color: #000;
  border-radius: 4px;
  padding:2rem;
    /*margin:5rem;*/

}

.btn-primary {
  /*border-radius: 50px!important;*/
  /*background-color: rgba(21, 59, 99, 80%)!important; */
  background-color: #616161;
  border: none;
  width: 8rem;
  transition: transform .5s ease;
}

.btn-primary:hover {
  /*border-radius: 50px!important;*/
  background-color: #616161;
  transform: scale(1.05);
  cursor: zoom-in;
}

.btn-submit{
  /*border-radius: 50px!important;*/
  /*background-color: rgba(21, 59, 99, 80%)!important;*/
  background-color: #616161;
  border: none;
  transition: transform .5s ease;
}


.btn-submit:hover {
  /*background-color: rgb(21, 59, 99)!important;*/
  background-color: #616161;
  transform: scale(1.05);
  cursor: zoom-in;
}
.popsty {
  color:rgba(0, 0, 0, 0.8)!important;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}
.popsty:hover {
  text-decoration:none;
}

.section {
  padding: 10rem 0;
  margin:0;
  padding:0;
}
.content p {
  transition: 0.5s;
  cursor: pointer;
  visibility: hidden;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
  opacity: 0;
}
.content p:hover {
  background: #FFF;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-50px);
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.card-wrapper2 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.card2 {
  width: 15rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.card {
  width: 15rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  /*box-shadow: .2rem .2rem 1rem 000;*/
}
/*.card .card-img {
  width: 100%;
  height: 16rem;
  background-position: center; 
  background-size: cover;
  background-color: rgba(227, 61, 50, 80%);
}*/
/*.profile-img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -7.5rem;
  z-index: 999;
  border: .5rem solid #FFF;
  background-color: #FFF;
}*/
.card-title {
  color: rgba(0, 0, 0, 80%); 
  text-transform: uppercase; 
  font-size: 1.5rem; 
   margin:1rem 0;
}
.card-text {
  color: rgba(0, 0, 0, 80%); 
  text-transform: uppercase; 
  font-size: 1rem;  
  font-weight: lighter;
  text-align: center;
}
.card .btn {
  margin-bottom: 1.5rem;
}

.bottom-img {
  width: 100%; 
  margin:0; 
  height:300px;
  object-fit: cover;
}

.footer {
  width: 100%;
  background-color: #FFF;
  color: #fff;

}
.footer-top {
background-color:rgba(227, 61, 50, 80%);
}
.footer p {
  font-size: 12px;
}

@media screen and (min-width: 700px) {
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin:2rem;
  }
}



/*---Media Queries --*/
@media (max-width: 992px) {
  .site-title {
    font-size: 40px;
    width: 40%;
    padding-top: 3rem;
    padding-left: 5rem;  
  }
  .site-desc {
    font-size: 18px;
    width: 40%;
    padding-left: 5rem; 
  }
  .site-content {
    height: 550px;
  }
}

.card-img-overlay {
  margin-top: 10rem!important;
}




@media (max-width: 768px) {
  .site-title {
    font-size: 30px;
    width: 50%;
    padding-top: 3rem;
    padding-left: 3rem;  
  }
  .site-desc {
    font-size: 17px;
    width: 50%;
    padding-left: 3rem; 
  }
  .site-content {
    height: 450px;
  }
}

@media (max-width: 576px) {
  .site-title {
    font-size: 20px;
    width: 60%;
    padding-top: 1.5rem;
    padding-left: 1.5rem; 
  }
  .site-desc {
    font-size: 14px;
    width: 60%;
    padding-left: 1.5rem;
  }
  .site-content {
    height: 350px;
  }
  
}


















/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




